* {
  box-sizing: border-box;
  color: #102a43;
  font-size: 16px;
}

body {
  background-color: #d9e2ec;
}

div.container {
  background-color: white;
  border-radius: 5px;
  margin: auto;
  max-width: 384px;
}

div.container-body {
  padding: 30px;
}

h1 {
  font-size: 20px;
}

/* input: */

input {
  border: 1px solid #9fb3c8;
  border-radius: 4px;
  display: inline-block;
  margin: 8px 0 16px 0;
  padding: 12px 20px;
  width: 100%;
}

input:disabled {
  background: #bef8fd;
}

/* buttons: */

div.buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #003e6b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  margin: 4px;
  padding: 12px 18px;
  width: 96px;
}

button:hover {
  filter: saturate(200%);
}

button.secondary {
  background-color: #486581;
}

button.tertiary {
  background-color: #829ab1;
}

/* alert: */

.alert {
  background-color: #ba2525;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 20px;
}

.close {
  color: white;
  float: right;
  margin-left: 15px;
}

.close:hover {
  color: #102a43;
}

/* navigation bar: */

nav ul {
  background-color: #0f609b;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

nav li {
  border-right: 1px solid #bcccdc;
  float: left;
}

nav li:last-child {
  border-right: none;
}

nav a {
  color: white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

nav a:hover:not(.active) {
  background-color: #003e6b;
}

nav .active {
  background-color: #8d2b0b;
  text-decoration: underline;
  text-underline-position: under;
}
